/* ==========================================================================
    FONTS
========================================================================== */

@font-face {
  font-family: ClearSansRegular;
  src: url(../fonts/clear_sans/ClearSans-Regular.ttf);
}

@font-face {
  font-family: ClearSansMedium;
  src: url(../fonts/clear_sans/ClearSans-Medium.ttf);
}

@font-face {
  font-family: ClearSansBold;
  src: url(../fonts/clear_sans/ClearSans-Bold.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Scada:400,700&subset=latin,cyrillic);

/* ==========================================================================
    LESS
========================================================================== */

@white: #fff;
@black: #000;
@blue: #05436e;
@dark-blue: #20293f;
@dark-blue-2: #183152;
@light-blue: #19b6e1;
@red: #ff4552;
@text: #111;

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.gradient (@startColor, @endColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition:    @transition;
    -ms-transition:     @transition;
    -o-transition:      @transition;
    transition:         @transition;
}

.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
       transform:        @string;
}

.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
       transform-origin:      @x @y;
}

.inline-block {
    display: inline-block;
    *display: block;
    zoom: 1; /* IE < 8 */
}

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    min-width: 1050px;
    height: 100%;
    background-color: @white;
    color: @text;
    font-family: "ClearSansRegular", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

ul,
p {
    margin: 0;
    padding: 0;
}

* {
    .box-sizing;
}

input,
textarea,
input:active,
textarea:active,
:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.list-inline {
    li {
        .inline-block;
    }
}

.scada {
    font-family: "Scada", Helvetica, Arial, sans-serif;
}

.m-0 {
    margin: 0 !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-70 {
    margin-bottom: 70px;
}

.pd-0 {
    padding: 0 !important;
}

.pd-15 {
    padding: 15px;
}

.container {
    width: 1050px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
}

.icon {
    display: inline-block;
    background-image: url(../img/sprite-icons.png);
    background-repeat: no-repeat;
}

.icon-search {
    width: 16px;
    height: 16px;
    margin-top: 7px;
    background-position: 0 0;
}

.lnk-primary {
    font-size: 14px;
    font-family: "ClearSansRegular", Helvetica, Arial, sans-serif;
    color: @light-blue;
    text-decoration: underline;
}

.lnk-title {
    display: block;
    color: @black;
    font-family: "ClearSansBold", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

.lnk-title-18 {
    font-size: 18px;
}

.lnk-title-22 {
    font-size: 22px;
}

.separator {
    display: block;
    height: 3px;
    border-bottom: 1px solid #fdfdfe;
    background-color: #ededf4;
}

.text-small {
    font-size: 12px !important;
}

.text-black {
    color: #010101;
}

.text-gray {
    color: #a9b0b3;
}

.media { 
    padding-bottom: 5px;
    margin: 0;

    .bordered {
        position: static;
    }
}

.media,
.bd {
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}

.media {
    .img {
        float:left;
        margin-right: 10px;

        img{display:block;}

        .img-ext{float: right; margin-left: 10px;}
    }
}

.bd-title {
    font-size: 14px;
    font-family: "ClearSansRegular", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    
    span {
        display: block;
    }
}

.bd-title-blue {
    color: @light-blue;
}

.bd-title-black {
    color: @black;
}

.bd {
    padding-top: 5px;
    p {
        font-size: 12px;
        font-family: "ClearSansRegular", Helvetica, Arial, sans-serif;
    }
}

.media-bg {
    background-color: @white;
    padding-bottom: 0;
}

.img-bordered {
    border: 3px solid @white;
    &:hover {
        border: 3px solid @light-blue;
    }
}

/* ==========================================================================
    HEADER
========================================================================== */

.header {
    background: @blue;
    border-bottom: 3px solid @dark-blue;
}

.header-top {
    padding-bottom: 22px;
    border-bottom: 1px solid @dark-blue-2;
}

.logo-main {
    .inline-block;
    width: 159px;
    height: 33px;
    background: url(../img/logo-main.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.search-wrapper {
    width: 400px;
    height: 32px;
    padding: 0 15px;
    border: 1px solid #376180;
    border-bottom: 1px solid #487391;
    margin: 3px 0 0 95px;
    line-height: 30px;
    background-color: #0b3d66;
    .border-radius(20px);
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .47));

    input {
        width: 346px;
        height: 28px;
        background-color: transparent;
        border: 0;
        vertical-align: top;
        color: #e7e8e8;
        font-size: 14px;
        font-family: "ClearSansMedium", Helvetica, Arial, sans-serif;
    }
}

.header-user-menu {
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 8px;
        li {
            display: inline-block;
            position: relative;
            padding-left: 10px;
            margin-left: 12px;

            &:before {
                position: absolute;
                display: inline-block;
                top: 9px;
                left: -3px;
                width: 1px;
                height: 10px;
                border-right: 1px solid #095a86;
                background-color: @dark-blue-2;
                content: "";
            }

            a {
                color: @light-blue;
                text-shadow: 1px 0 0 rgba(121, 177, 6, .75);
                font-size: 14px;
                font-family: "ClearSansMedium", Helvetica, Arial, sans-serif;
            }
        }

        li:first-child {
            &:before {
                display: none;
            }
        }
    }
}

.header-nav {
    border-top: 1px solid #095a86;
    padding-top: 15px;
}

/* ==========================================================================
    NAVIGATION
========================================================================== */

.nav {
    ul {
        .list-inline;
    }
}

.nav-head {
    li {
        margin-left: 52px;
        height: 38px;
    }

    li:first-child {
        margin-left: 0;
    }

    a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 3px;
        height: 38px;
        color: @white;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        .scada;
    }

    a:hover {
        border-bottom: 3px solid @light-blue;
    }
}

.nav-main { 
    a {
        color: @white;
    }
}

.nav-sub {
    position: relative;
    padding-left: 40px;

    &:before {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: -3px;
        width: 1px;
        height: 14px;
        border-right: 1px solid #095a86;
        background-color: @dark-blue-2;
        content: "";
    }

    a {
        color: #a9b0b3;
    }
}

/* ==========================================================================
    MAIN
========================================================================== */

.block {
    margin: 15px 0 35px;
}

.block-2-thirds {
    width: 664px;
}

.block-1-third {
    width: 318px;
}

.block-light-gray {
    @background-color: #f9f9fb;
    background-color: @background-color;

    .title-section-label-wrapper:after,
    .lnk-all {
        background-color: @background-color;
    }
}

.block-gray {
    @background-color: #f5f5f6;
    background-color: @background-color;

    .title-section-label-wrapper,
    .lnk-all {
        background-color: @background-color;
    }
}

.block-white {
    background-color: @white;
}

.block-shadowed {
    .box-shadow(0 0 4px 1px #f1f1f1);
}

.title-section {
    position: relative;
    .separator;
    margin: 30px 0;
}

.title-section-label {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -17px;
    height: 34px;
    line-height: 32px;
    padding: 0 20px 0 15px;
    background-color: #05436f;
    border-bottom: 2px solid @light-blue;
    text-transform: uppercase;
    color: @white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
    font-weight: bold;
    .scada;

    &:after {
        position: absolute;
        top: 0;
        right: -22px;
        display: inline-block;
        content: "";
        width: 22px;
        height: 34px;
        background-image: url(../img/title-section-corner.png);
        background-color: #f9f9fb;
        background-repeat: no-repeat;
        box-sizing: content-box;
        padding-right: 15px;
    }
}

.lnk-all {
    .lnk-primary;
    position: absolute;
    display: inline-block;
    right: 0;
    top: -12px;
    padding: 0 5px 0 15px;
}

.lnk-all-small {
    .lnk-primary;
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
}

.block-tabs-right {
    .left {
        width: 336px;
    }

    .right {
        width: 328px;
    }
}

.block-tabs-right-small {
    .bookmark {
        top: 10px;
    }
}

.img-shadowed {
    img {
        display: block;
    }

    position: relative;
    z-index: 2;
}

.img-shadowed:before,
.img-shadowed:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5px;
  width: 50%;
  top: 80%;
  max-width:323px;
  background: #a2a2a3;
  .box-shadow(0 17px 4px #a2a2a3);
  .transform(rotate(-3deg));
}

.img-shadowed:after {
  .transform(rotate(3deg));
  right: 5px;
  left: auto;
}

.bordered {
    position: absolute;
    border-width: 0;
    border-right-width: 3px;
    border-style: solid;
}

.bordered-blue {
    border-color: @light-blue;
}

.bordered-red {
    border-color: @red;
}

.bookmarked {
    position: relative;
}

.bookmark {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    padding: 0 15px;
    color: @white;
    font-size: 14px;
    font-family: "ClearSansBold", Helvetica, Arial, sans-serif;
}

.bookmark-blue {
    background-color: @light-blue;
}

.bookmark-red {
    background-color: @red;
}

.film-description {
    padding: 15px;
    padding-right: 7px;
    .lnk-title {
        margin: 10px 0 30px;
    }
}

.list-items {
    list-style: none;
    li {
        padding: 15px 15px 0 20px;

        &:after {
            .separator;
            content: "";
            height: 2px;
            margin-top: 15px;
        }
    }

    li:last-child {
        padding-bottom: 15px;
        &:after{
            display: none;
        }
    }

    .is-active {
        background-color: @light-blue;
        color: @white;
        padding-bottom: 15px;

        .lnk-title {
            color: @white;
        }

        &:after {
            display: none;
        }
    }
}

.freespace {
    padding: 58px 38px;
    border: 1px solid #ededf4;

    img {
        display: block;
    }
}

.gray-area {
    position: relative;
    background-color: #f5f5f6;
    &:before,
    &:after {
        display: block;
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
    }

    &:before {
        top: -4px;
        background: url(../img/border-waves.png) repeat-x;
    }

    &:after {
        bottom: -4px;
        background: url(../img/border-waves-bottom.png) repeat-x;
    }

    .container {
        padding-top: 0;
    }
}

.lnk-slide {
    display: block;
}

.slide {
    height: 340px;

    .right {
        width: 340px;
        padding: 0 52px 70px 5px;
    }

    .bookmark {
        top: 20px;
    }

    .film-description {
        height: 270px;
        overflow: hidden;
    }

    .lnk-title {
        text-align: center;
    }

    .img-shadowed:before,
    .img-shadowed:after {
      .box-shadow(0 14px 4px #a2a2a3);
    }
}

.slide-small {
    position: relative;
    display: block;
    width: 206px;
    height: 306px;
    border: 3px solid @white;
    .box-shadow(0 0 3px 1px #d4d4d5);
    .transition(all .3s);

    img {
        display: block;
    }
}

.item-info {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 200px;
    height: 94px;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    .transition(all .3s);
}

.slide-small-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    a {
        color: @light-blue;
        font-size: 15px;
        font-family: "ClearSansBold", Helvetica, Arial, sans-serif;
        text-decoration: underline;
    }
}

.short-info {
    color: #1c0d00;
    font-size: 13px;

}

.slide-small:hover {
    border: 3px solid #ffcc00;

    .item-info {
        background-color: rgba(255, 204, 0, .9);
    }

    .slide-small-title a {
        color: #05436f;
    }
}

.block-ad {
    height: 126px;
    padding: 9px;
    border: 1px solid #e5e7e8;
    margin: 50px 0 70px;    
    img {
        display: block;
    }
}

/* ==========================================================================
    LISTS
========================================================================== */

.list-1 {
    li {
        margin-bottom: 5px;
    }

    .img-shadowed {
        &:before,
        &:after {
            top: 75%;
            bottom: 0;
            .box-shadow(0 2px 2px #A2A2A3);
        }
    }
}

.list-2 {

    li:first-child {
        margin-top: 10px;
    }

    li {
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .img-shadowed {
        &:before,
        &:after {
            top: 75%;
            bottom: 4px;
            .box-shadow(0 2px 3px #A2A2A3);
        }
    }
}

.list-3 {
    padding: 20px 0 10px;
    background-color: #eaebec;
    z-index: 3;

    li {
        margin-bottom: 10px;
    }
}

.corner {
    position: absolute;
    right: 0;
    bottom: 5px;  
    color: #054674;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px #fff100;
    .scada; 
}

.corner-triangle {
    width: 50px;
    height: 51px;
    line-height: 70px;
    padding: 0 8px 0 34px;
    background: url(../img/corner-triangle.png) no-repeat;
}

.corner-rectangle {
    width: 34px;
    height: 94px;
    line-height: 94px;
    text-align: center;
    background-color: #fc0;
    .box-shadow(-1px 0 1px #ebebeb);
}

/* ==========================================================================
    SIDEBAR
========================================================================== */

.sidebar {
    padding-top: 30px;
}

.block-aside {
    position: relative;
    margin-bottom: 40px;
}

.has-lnk-all {
    padding-bottom: 24px;
}

.block-bordered {
    border: 1px solid #dadada;
}

.sidebar-title {
    height: 33px;
    line-height: 33px;
    text-transform: uppercase;
    color: @white;
    font-size: 16px;
    font-weight: bold;
    .scada;

    .left {
        width: 70px;
        text-align: center;
    }

    .right {
        width: 218px;
        padding-left: 15px;
    }
}

.sidebar-title-red {
    background-color: @red;
    text-shadow: 0 1px rgba(0, 0, 0, .25);
}

.sidebar-title-blue {
    background-color: #05436f;
    text-shadow: 0 1px rgba(0, 0, 0, .75);
}

.sidebar-title-yellow {
    background-color: #fc0;
    color: #054674;
    text-shadow: 0 -1px #fff100;
}

.sidebar-title-wide {
    .left {
        width: 83px;
    }

    .right {
       width: 233px; 
    }
}

.sidebar-title-one {
    text-align: center;
}


/* ==========================================================================
    Carousel
========================================================================== */

.jcarousel-wrapper {
    position: relative;
    height: 340px;
    width: 1010px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 10000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        width: 1010px;
        height: 354px;
    }
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    z-index: 2;
}

.jcarousel-control-prev {
    left: 10px;
    background-image: url(../img/carousel-buttons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.jcarousel-control-next {
    right: 10px;
    background-image: url(../img/carousel-buttons.png);
    background-repeat: no-repeat;
    background-position: -48px 0;
}

.jcarousel-pagination-wrapper {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 290px;
    z-index: 2;
}

.jcarousel-pagination {
    text-align: center;

    a {
        display: inline-block;
        margin-left: 10px;
        font-size: 11px;
        height: 10px;
        margin-right: 7px;
        text-decoration: none;
        text-indent: -9999px;
        width: 10px;
        height: 9px;
        background-image: url(../img/jcarousel-pagination.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    a.active {
        background-position: -22px 0;
    }
}

/* Small Carousel
========================================================================== */

.jcarousel-small-wrapper {
    position: relative;
    height: 310px;
    width: 664px;
}

.jcarousel-small {
    position: relative;
    overflow: hidden;
}

.jcarousel-small ul {
    width: 10000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        width: 206px;
        height: 312px;
        margin-right: 20px;
        padding-top: 3px;
    }
}

.jcarousel-small-control-prev,
.jcarousel-small-control-next {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    z-index: 2;
}

.jcarousel-small-control-prev {
    .jcarousel-control-prev;
    left: -20px;
}

.jcarousel-small-control-next {
    .jcarousel-control-next;
    right: -15px;
}